In [1]:
#imp libraries
import pandas as pd

In [2]:
#loaded .csv file and display the values of all features
#same In[2] to In[6]
fb=pd.read_csv('FB/FB_Features.csv')
fb

,Node_1,Node_2,Link,C_Neighbour,P_Attachment,Jaccard_Index,Adamic_Adar,R_Allocation,Salton_Cosine,Sorensen_Index,Promoted_Index,Depressed_Index,LHN_Index
0,1,1327,1,3,1316,0.028571,0.985954,0.150558,0.082698,0.027778,0.214286,0.031915,0.002280
1,1,336,1,5,3150,0.021368,1.126136,0.062666,0.089087,0.020921,0.357143,0.022222,0.001587
2,1,1040,1,5,672,0.087719,1.301623,0.109832,0.192879,0.080645,0.357143,0.104167,0.007440
3,10,297,0,1,1524,0.007246,0.173361,0.003125,0.025616,0.007194,0.083333,0.007874,0.000656
4,10,320,0,0,1500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62007,999,1035,0,0,513,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
62008,999,1011,0,1,738,0.011111,0.228862,0.012658,0.036811,0.010989,0.111111,0.012195,0.001355
62009,999,1004,0,0,1224,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
62010,999,1223,0,0,441,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
62011,999,1304,0,0,180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [3]:
fbf=pd.read_csv('FB_Food/FBF_Features.csv')
fbf

,Node_1,Node_2,Link,C_Neighbour,P_Attachment,Jaccard_Index,Adamic_Adar,R_Allocation,Salton_Cosine,Sorensen_Index,Promoted_Index,Depressed_Index,LHN_Index
0,1,112,1,6,2108,0.064516,1.370046,0.085690,0.130682,0.060606,0.193548,0.088235,0.002846
1,1,92,1,5,476,0.071429,1.097103,0.054632,0.229175,0.066667,0.714286,0.073529,0.010504
2,1,311,1,14,7344,0.086420,3.358209,0.224664,0.163366,0.079545,0.205882,0.129630,0.001906
3,1,410,1,9,5440,0.064748,1.927035,0.085701,0.122023,0.060811,0.132353,0.112500,0.001654
4,1,851,1,8,2108,0.087912,1.863107,0.122791,0.174243,0.080808,0.258065,0.117647,0.003795
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19802,99,489,0,3,3700,0.024793,0.669451,0.034903,0.049320,0.024194,0.060000,0.040541,0.000811
19803,99,496,0,14,3900,0.122807,3.167871,0.177447,0.224179,0.109375,0.280000,0.179487,0.003590
19804,99,507,0,0,150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19805,99,296,0,1,2350,0.010417,0.241363,0.015873,0.020628,0.010309,0.021277,0.020000,0.000426
19806,99,961,0,0,150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [4]:
fbs=pd.read_csv('FB_Sport/FBS_Features.csv')
fbs

,Node_1,Node_2,Link,C_Neighbour,P_Attachment,Jaccard_Index,Adamic_Adar,R_Allocation,Salton_Cosine,Sorensen_Index,Promoted_Index,Depressed_Index,LHN_Index
0,1,851,1,6,2475,0.058824,1.526652,0.124462,0.120605,0.055556,0.181818,0.080000,0.002424
1,1,390,1,12,1683,0.166667,2.859106,0.188133,0.292509,0.142857,0.363636,0.235294,0.007130
2,1,1096,1,6,990,0.105263,1.454723,0.105398,0.190693,0.095238,0.200000,0.181818,0.006061
3,10,665,0,1,1024,0.012658,0.214434,0.009434,0.031250,0.012500,0.062500,0.015625,0.000977
4,10,686,0,0,112,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35325,998,1078,0,2,3248,0.017857,0.470694,0.029051,0.035093,0.017544,0.035714,0.034483,0.000616
35326,998,1399,1,9,3132,0.087379,2.434763,0.256137,0.160817,0.080357,0.166667,0.155172,0.002874
35327,999,882,0,0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35328,999,643,0,0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35329,999,1219,0,3,132,0.120000,0.729935,0.054321,0.261116,0.107143,0.500000,0.136364,0.022727

In [5]:
ham=pd.read_csv('Ham/Ham_Features.csv')
ham

,Node_1,Node_2,Link,C_Neighbour,P_Attachment,Jaccard_Index,Adamic_Adar,R_Allocation,Salton_Cosine,Sorensen_Index,Promoted_Index,Depressed_Index,LHN_Index
0,1,600,0,0,126,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,310,0,0,81,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,306,0,0,54,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1,309,0,0,72,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1,932,0,0,234,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17525,997,303,0,0,546,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17526,997,31,0,0,322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17527,997,153,0,1,546,0.019231,0.202071,0.007092,0.042796,0.018868,0.071429,0.025641,0.001832
17528,997,1670,0,0,42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17529,999,1572,0,0,90,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
vote=pd.read_csv('Vote/Vote_Features.csv')
vote

,Node_1,Node_2,Link,C_Neighbour,P_Attachment,Jaccard_Index,Adamic_Adar,R_Allocation,Salton_Cosine,Sorensen_Index,Promoted_Index,Depressed_Index,LHN_Index
0,0,398,0,1,164,0.023256,0.204800,0.007576,0.078087,0.022727,0.250000,0.025000,0.006098
1,0,870,0,1,123,0.023810,0.229531,0.012821,0.090167,0.023256,0.333333,0.025000,0.008130
2,0,837,0,0,123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0,816,0,0,902,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0,721,0,0,287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17455,990,3,1,11,1156,0.150685,2.870258,0.272034,0.323529,0.130952,0.647059,0.164179,0.009516
17456,990,408,1,13,867,0.240741,3.167235,0.229715,0.441503,0.194030,0.764706,0.260000,0.014994
17457,990,193,1,9,442,0.272727,2.524718,0.286876,0.428086,0.214286,0.529412,0.360000,0.020362
17458,991,942,0,0,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17459,991,859,1,3,210,0.043478,0.729959,0.049341,0.207020,0.041667,1.000000,0.043478,0.014286